{% extends 'base.html.twig' %}

{% block main %}
	<div style="text-align: center;">
    	<h1>All members</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td><a href="{{ path("app_member_show", {'id': member.id}) }}">{{ member }}</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No members found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
