{% extends 'base.html.twig' %}

{% block title %}New TutorialSet{% endblock %}

{% block main %}
    <h1>Create new TutorialSet</h1>

    {{ include('tutorial_set/_form.html.twig') }}

    <a href="{{ path('app_tutorial_set_index') }}">Cancel</a>
{% endblock %}
