{% extends 'base.html.twig' %}

{% block body %}
	{# Show all list of tutorials #}
	<h1>Lists of tutorials</h1>
	
	<ul>
        {% for list_tutorials in lists_tutorials %}
        
        	<li> <a href={{ path('list_tutorials_show', {'id': list_tutorials.id}) }}> {{ list_tutorials.author }} </a> </li>
       
        {% endfor %}
    </ul>
	
{% endblock %} {# body #} 
