{% extends 'base.html.twig' %}

{% block body %}
	<h1>Tutoriels proposés par {{ list_tutorials.author }}</h1>
    
    <table class="table">
        <tbody>
        	{% for tutorial in list_tutorials %}
                <tr>
                    <th>ID</th>
                    <td>{{ tutorial.id }}</td>
                </tr>
                <tr>
                    <th></th>
                    <td>{{ tutorial.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('list_tutorials_all') }}">Revenir à la liste des auteurs</a>
	
{% endblock %} {# body #} 
