{% extends 'base.html.twig' %}

{% block main %}
	{# Show all list of tutorials #}
	<h3>Lists of tutorials</h3>
	
	<ul>
        {% for list_tutorials in lists_tutorials %}
        
        	<li> From <a href={{ path('list_tutorials_show', {'id': list_tutorials.id}) }} class="redirection"> {{ list_tutorials.author }} </a> </li>
       
        {% endfor %}
    </ul>
	
{% endblock %} {# body #} 
