{% extends 'base.html.twig' %}

{% block main %}
<h3>Welcome on BuildSpace !</h3>

<p>Here, you can find tutorials and tips on builds on the game Minecraft.</p>

<a href="{{ path("app_tutorial_index") }}">View all tutorials here</a>
<br>
<a href="{{ path("app_tutorial_library_index") }}">View all tutorial libraries here</a>
<br>
<a href="{{ path("app_tutorial_set_index") }}">View all tutorial sets here</a>

{% endblock %}
