{% extends 'base.html.twig' %}

{% block title %}Edit TutorialLibrary{% endblock %}

{% block main %}
    <h1>Edit TutorialLibrary</h1>

    {{ include('tutorial_library/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tutorial_library_index') }}">Cancel</a>

    {{ include('tutorial_library/_delete_form.html.twig') }}
{% endblock %}
