{% extends 'base.html.twig' %}

{% block title %}New TutorialLibrary{% endblock %}

{% block main %}
    <h1>Create new TutorialLibrary</h1>

    {{ include('tutorial_library/_form.html.twig') }}

    <a href="{{ path('app_tutorial_library_index') }}">Cancel</a>
{% endblock %}
