{% extends 'base.html.twig' %}

{% block title %}Edit Tutorial{% endblock %}

{% block main %}
    <h1>Edit Tutorial</h1>
    
    <h5>You can delete or add steps. Be aware that the order of the screens are in lexicographic order.</h5>
    
    <br>

    {{ include('tutorial/_form.html.twig', {'button_label': 'Update', 'tutorial': tutorial}) }}

	<br>
	
	<button class="btn btn-danger">
    	<a href="{{ path('app_tutorial_show', {'id': tutorial.id}) }}" class="no-decoration">Cancel</a>
    </button>

	<br><br>
	
	{{ include('tutorial/_delete_form.html.twig') }}
{% endblock %}
