{% extends 'base.html.twig' %}

{% block main %}
	{# Show all tutorials #}
	<h1>All tutorials</h1>
	
	<ul>
        {% for tutorial in tutorials %}
        
        	<li> <a href="{{ path('app_tutorial_show', {'id': tutorial.id}) }}"> {{ tutorial.name }} </a>&nbsp &nbsp &nbsp &nbsp<a href="{{ path('app_tutorial_edit', {'id': tutorial.id}) }}">Edit</a> </li>
       
        {% endfor %}
    </ul>
	
{% endblock %} {# body #} 
