{% extends 'base.html.twig' %}

{% block main %}
	{# Show all list of tutorials #}
	<h3>All tutorials</h3>
	
	<ul>
        {% for tutorial in tutorials %}
        
        	<li> <a href={{ path('tutorial_show', {'id': tutorial.id}) }}> {{ tutorial.name }} </a> </li>
       
        {% endfor %}
    </ul>
	
{% endblock %} {# body #} 
