{% extends 'base.html.twig' %}

{% block title %}New Tutorial{% endblock %}

{% block main %}
    <h1>New Tutorial</h1>

    {{ include('tutorial/_form.html.twig') }}

    <a href="{{ path('app_library_show', {'id': library.id}) }}">Cancel</a>
{% endblock %}
