{% extends 'base.html.twig' %}

{% block title %}New Tutorial{% endblock %}

{% block main %}
    <h1>Create a new Tutorial in the theme "{{ theme }}"</h1>

    {{ include('tutorial/_form.html.twig') }}

    <a href="{{ path('app_tutorial_show', {'id' : theme.id}) }}">Cancel</a>
{% endblock %}
