{% extends 'base.html.twig' %}

{% block title %}New Tutorial{% endblock %}

{% block main %}
    <h1>Create a new Tutorial in the theme "{{ theme }}"</h1>
    
    <h5>WARNING : The title of the steps must in a lexicographic order.</h5>
    
    <br>

    {{ include('tutorial/_form.html.twig') }}

    <a href="{{ path('app_tutorial_show', {'id' : theme.id}) }}">Cancel</a>
{% endblock %}
