{% extends 'base.html.twig' %}

{% block main %}
    <h1>Theme index</h1>
    
    <br>
	
	<div class="img-row">
        {% for theme in themes %}
        	{% if theme.published %}
               	<div class="tuto-card">
                	<a href="{{ path("app_theme_show", {'id': theme.id}) }}">
                    	<div class="img-crop">
                			<img
                			type="image" 
                            src="{{ vich_uploader_asset((theme.tutorials|first).imageBuild, 'imageFile') }}" 
                            alt="Image of the symbol plus" 
                            class="img-fluid"
                        	/>
                    	</div>
                    	<div class="tuto-name">
                    		<h5> {{ theme }} </h5>
                    	</div>
                	</a>
                </div>
    
        		<br>
        	{% endif %}
        {% endfor %}
    </div>
    
    <br>
    
    <button class="btn btn-info">
    	<a href="{{ path('index') }}" class="no-decoration"><h5>Back</h5></a>
    </button>
    
{% endblock %}
