{% extends 'base.html.twig' %}

{% block title %}New Theme{% endblock %}

{% block main %}
    <h1>Create new Theme</h1>

	<br>

    {{ include('theme/_form.html.twig') }}
    
    <br>

    <a href="{{ path('app_member_show', {'id': member.id}) }}">Cancel</a>
{% endblock %}
