{% extends 'tutorial/show.html.twig' %}

{% block tutorialshow_header %}
	{# Show the detail of a tutorial #}
	<h3>Theme : {{ theme }}</h3>
{% endblock %}
	
{% block tutorialshow_footer %}
	<button class="btn btn-info">
		<a href="{{ path('app_tutorial_edit', {'id': tutorial.id}) }}" class="no-decoration"><h5>Edit</h5></a>
	</button>
	
	<button class="btn btn-info">
    	<a href="{{ path('app_theme_show', {'id': theme.id}) }}" class="no-decoration"><h5>Back to {{ theme }} theme</h5></a>
    </button>
{% endblock %} {# body #} 
