{% extends 'tutorial/show.html.twig' %}

{% block tutorialshow_header %}
	{# Show the detail of a tutorial #}
	<h3>Theme : {{ theme }}</h3>
{% endblock %}
	
{% block tutorialshow_footer %}
	<a href="{{ path('app_tutorial_edit', {'id': tutorial.id}) }}">Edit</a>
    <a href="{{ path('app_theme_show', {'id': theme.id}) }}">Back to {{ theme }} theme</a>
{% endblock %} {# body #} 
