{% extends 'tutorial/index.html.twig' %}

{% block list_tutorials_header %}

    <div style="text-align: center;">
    	<h1>Library</h1>
    </div>

{% endblock %}

{% block list_tutorials_footer %}

	<br><br>
	
  	<div class="tuto-card">
    	<a href="{{ path("app_tutorial_new", {'id': library.id}) }}">
        	<div class="img-crop">
    			<img
    			type="image" 
                src="{{ vich_uploader_asset(add, 'imageFile') }}" 
                alt="Image of the symbol plus" 
                class="img-fluid"
            	/>
        	</div>
        	<div class="tuto-name">
        		<h5> New tutorial </h5>
        	</div>
    	</a>
    </div>
    
    <br>
    <br>

	<button class="btn btn-info">
    	<a href="{{ path('app_member_show', {'id': library.member.id}) }}" class="no-decoration"><h5>Back</h5></a>
    </button>

{% endblock %}
