{% extends 'tutorial/show.html.twig' %}

{% block tutorialshow_footer %}
	<button class="btn btn-info">
		<a href="{{ path('app_tutorial_edit', {'id': tutorial.id}) }}" class="no-decoration"><h5>Edit</h5></a>
	</button>
	
	<button class="btn btn-info">
    	<a href="{{ path('app_library_show', {'id': tutorial.library.id}) }}" class="no-decoration"><h5>Back to {{ tutorial.library.member }}'s library</h5></a>
    </button>
{% endblock %} {# body #} 
